* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  height: 40cm;
}

figure {
  display:inline-block;
}

.top-bar {
  width: 100%;
  height: 4rem;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding-right: 20%;
}

.top-bar__login {
  color: white;
  text-decoration: none;
}

.top-bar__login:hover {
  color:chartreuse;
  text-decoration: none;
}

.top-bar__login:active {
  color: tomato;
  text-decoration: none;
}

.header{
  position: sticky;
  top: 0;
  background-color:none;    
  width: 100%;
  height: 12rem;
  z-index: 1;
}

.header__solid {
  width: 70vw;
  height: 7rem;
  display: inline-block;
  background-color: orangered;
  border-radius: 1rem;
  position:relative;
  top: 50%;
  transform: translate(0%,-50%);
  z-index: 2;
}

.search {
  display: flex;
  position: absolute;
  width: 50%;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%,0);
}
.search__input-box{
  display: inline;
  width: 70%;
}
.search__button {
  width: 30%;
}

.header__logo{
  height: 7rem;
  width: 20rem;
  position: relative;
  top: 50%;
  padding-left:2rem;
  transform: translate(0%,-50%);
  background-color: white;
  border-radius: 1rem ;
  z-index: 1;
}

.logo-img {
  display: inline-block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main{
  display: flex;
  justify-content: space-evenly;
}

.side-menu {
  width: 30%;
  min-width: 10rem;
  height: 100rem;
  display: flex;
  position: relative;
  border: 1px solid;
  border-color: coral;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.side-menu__item {
  width: 80%;
  height: 20rem;
  background-color: chocolate;
  border-radius: 2rem;
}

.content {
  display: inline-block;
  width: 60vw;
  height: 100rem;
  background-color: darkslategray;
}