:root {
  --color1: #FD7400;
  --color2: #FFE11A;
  --color3: #004358;
  --color4: #1F8A70;
  --color5: #BEDB39;
  --gris1: #DEFFF7;
  --gris2: #B2D6CD;
  --gris3: #82B3A6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  height: 40cm;
}

figure {
  display:inline-block;
}

.top-bar {
  width: 100%;
  height: 4rem;
  background-color: var(--color5);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding-right: 10%;
}

.top-bar__login {
  color: white;
  text-decoration: none;
}

.top-bar__login:hover {
  color: var(--gris3);
  text-decoration: none;
}

.top-bar__login:active {
  color:var(--color2);
  text-decoration: none;
}

.header{
  position: sticky;
  top: 0;
  background-color:none;    
  width: 100%;
  height: 12rem;
  z-index: 1;
}

.header__solid {
  width: 70vw;
  height: 7rem;
  display: inline-block;
  background-color: var(--color1);
  border-radius: 1rem;
  position:relative;
  top: 50%;
  transform: translate(0%,-50%);
  z-index: 2;
}

.search {
  display: flex;
  position: absolute;
  width: 50%;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%,0);
}
.search__input-box{
  display: inline;
  width: 70%;
  border-bottom: var(--color2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.search__input-text
{
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

.search__input-text::placeholder
{
    color: var(--color2);
}

.lupa {
  width: 20%;
  padding-left: 1rem;
}

.lupa__button
{
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.lupa__bolita
{
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-width: 0px;
    border: 0.5rem solid #ffff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.lupa__palito
{
    position: absolute;
    top: 1.3rem;
    left: 1.2rem;
    display: block;
    width: 1rem;
    height: 0.5rem;
    background-color:transparent;
    border-radius: 10px;
    transform: rotateZ(50deg);
    transition: 0.5s ease all;
}

.lupa__palito:before, .lupa__palito:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 0.5rem;
    background-color: #ffff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

.lupa:hover .lupa__bolita
{
  top: 40%;
  width: 2rem;
  height: 0.5rem;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

.lupa:hover .lupa__palito
{
    top: 40%;
    left:0;
    width: 2rem;
    transform: rotateZ(0);
}

.lupa:hover .lupa__palito:before
{
    bottom: 3px;
    transform: rotateZ(52deg);
}

.lupa:hover .lupa__palito:after
{
    bottom: -3px;
    transform: rotateZ(-52deg);
}

.lupa:hover .lupa__palito:before, .lupa:hover .lupa__palito:after
{
    right: 0;
    width: 1rem;
    background-color: #fff;
}

.header__logo{
  height: 7rem;
  width: 20rem;
  position: relative;
  top: 50%;
  padding-left:2rem;
  transform: translate(0%,-50%);
  background-color: white;
  border-radius: 1rem ;
  z-index: 1;
}

.logo-img {
  display: inline-block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main{
  display: flex;
  justify-content: space-evenly;
}

.side-menu {
  width: 30%;
  min-width: 10rem;
  height: 100rem;
  display: flex;
  position: relative;
  border: 1px solid;
  border-color: var(--color4);
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.side-menu__item {
  width: 80%;
  height: 20rem;
  background-color: var(--color5);
  border-radius: 2rem;
}

.content {
  display: inline-block;
  width: 60vw;
  height: 100rem;
  background-color: var(--gris3);
}

